@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    vertical-align: baseline;
    border:0;  
}
section{
    margin:6rem 0;
}
section#special-apps{
    margin-bottom: 3rem;
}
.container{
width: 85%;
margin: 0 auto;
}
li{
    list-style:none;
}
h1{
    color:#8d5da7;
    font-weight: 900;
    font-size: 2.2em;
    padding:1rem;
}
h2{
    color:#8d5da7;
    font-weight: 700;
    font-size: 1.5em;
    padding:1rem;
}
h6{
    width: 55%;
    margin: 0 auto;
    padding: 1.5rem;
    font-weight: 600;
    font-size: larger;
}
img {
    height:100%;
    width:100%;
}

footer{
    background-color:#8d5da7;
}
.circular-btn{
    position: fixed;
    z-index: 5;
    bottom: 0px;
    padding:1rem;
    background-color: inherit;
    cursor: pointer;
}
.circular-btn span{
  border-radius:50%;
  background-color:#fdb515;
  color:#8d5da7;
  height: 48px;
  width: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.circular-btn:hover{
    transform:scale(1.2)
}
.chat{
    right:0px;
}
.to-top{
    left:0px;
}
